$white: #fff;
$white-smoke: #f9f9f9;
$grey-gainsboro: #f5f5f5;
$grey-iron: #dadbdf;
$grey: #aaaaaa;
$grey-regent: #808c99;
$grey-pale-sky: #6b717f;
$black: #222;
$blue: #0074d9;
$blue-midnight: #036;
$blue-navy: #001f3f;
$green: #2ecc40;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
