.st-icon-btn {
  padding: 0 !important;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: $icon-button-dimensions;
  height: $icon-button-dimensions;
  max-width: $icon-button-dimensions;
  max-height: $icon-button-dimensions;
}
