<nav class="navbar navbar-expand-md navbar-light px-2 py-2 px-md-0">
  <div class="container">
    <a class="navbar-brand p-0" href="/">
      <h1 class="m-0">Loji</h1>
    </a>
    <a
      class="navbar-toggler px-2 py-1"
      data-toggle="collapse"
      data-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Toggle Main Menu"
    >
      <span class="navbar-toggler-icon small" />
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="mainNav">
      <ul class="nav nav-pills justify-content-end mt-2 mt-md-0">
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pricing">Pricing</a>
        </li>
        <li class="nav-item mr-2">
          <a class="btn btn-outline-primary" href="//{{APP_URL}}:{{APP_PORT}}/signin">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" href="//{{APP_URL}}:{{APP_PORT}}/signup">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
